# This workflow will install Python dependencies and then generate the website using the main.py file.

name: Render mustache template

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Generate website
      run: |
        python3 main.py
    - name: Commit index.html file
      uses: EndBug/add-and-commit@v7.2.1
      with:
         message: 'Update index.html'
         default_author: github_actions
